:root {
  --bar-size: 8;
}

body {
  margin: 0;
  font-family: "ヒラギノ角ゴ W1 JIS2004", sans-serif;
}

header {
  background: #000;
  padding: 3vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>div {
  flex: 1;
  text-align: center;
}

header .logo img {
  width: 16vw;
}

header .lang img {
  width: 10vw;
}


#menu-bar,
#menu-bar span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

#menu-bar {
  position: relative;
  width: calc(var(--bar-size) * 1.15vw);  
  height: calc(var(--bar-size) * 1vw); 
}

#menu-bar span {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(var(--bar-size) * 1vw / 7);
  background-color: #fff;
  border-radius: calc(var(--bar-size) * 1vw / 7);
}

#menu-bar span:nth-of-type(1) {
  top: 0;
}

#menu-bar span:nth-of-type(2) {
  top: calc(var(--bar-size) * 3vw / 7);
}

#menu-bar span:nth-of-type(3) {
  bottom: 0;
}

#menu-bar.active span:nth-of-type(1),
#menu-bar.active span:nth-of-type(3) {
  width: calc(var(--bar-size) * 0.8vw);
}

#menu-bar.active span:nth-of-type(1) {
  transform: translate(calc(var(--bar-size) * -0.78vw / 10), calc(var(--bar-size) * 2.17vw / 10)) rotate(-40deg);
}

#menu-bar.active span:nth-of-type(3) {
  transform: translate(calc(var(--bar-size) * -0.78vw / 10), calc(var(--bar-size) * -2.17vw / 10)) rotate(40deg);
}

#slider {
  height: 50vw;
  background: #eee;
}

.btn-wrap {
  display: flex;
  padding: 2vw;
}

.toc {
  padding: 5vw 0;
  background: hsl(var(--thema-color), var(--thema-satuation), 98%);
  text-align: center;
}

.btn {
  border: .8vw solid hsl(var(--thema-color), var(--thema-satuation), 46%);
  margin: 1vw;
  padding: 2vw;
  box-sizing: border-box;
  height: 16vw;
  display: flex;
  border-radius: 12vw;
  background: hsl(var(--thema-color), var(--thema-satuation), 93%);
  color: hsl(var(--thema-color), var(--thema-satuation), 46%);
}

.btn.pic img {
  width: 10vw;
}

.btn.detail{
  flex: 1;
  text-decoration: none;
  font-size: 5vw;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.toc h1 {
  margin: 3vw 0;
  font-size: 9vw;
  color: hsl(var(--thema-color), var(--thema-satuation), 50%);
}

.toc h1.h_img {
  margin: 0;
}

.toc h1 img{
  width: 60vw;
  margin: 0 auto;
}

.toc h2 {
  color: hsl(var(--thema-color), var(--thema-satuation), 50%);
  font-size: 6vw;
  margin: 0;
  font-weight: normal;
}

.toc p{
  padding: 0;
  line-height: 2;
  font-size: 5vw;
  text-align: center;
  margin: 0;
}

.toc p img {
  height: 8vw;
  margin: 0 .5vw;
  vertical-align: -20%;
}

.toc strong {
  color: hsl(var(--thema-color), var(--thema-satuation), 46%)
}

.toc.about_team {
  --thema-color: 325;
  --thema-satuation: 100%;
}

.toc.project {
  --thema-color: 192; 
  --thema-satuation: 100%;
}

.toc.robot {
  --thema-color: 0;
  --thema-satuation: 0%;
}

.toc.corevalue {
  --thema-color: 325;
  --thema-satuation: 100%;
}

.toc h1.h_double {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.toc h1.h_double span {
  display: block;
  text-align: left;
}

.toc h1.h_double span:nth-child(2) {
  text-align: right;
}

footer {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 5vw;
}