body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}

header {
  background: #000;
  padding: 3vw 0;
  z-index: 200;
}

.active header{
  position: sticky;
  top: 0;
  left: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container > div {
  flex: 1;
  text-align: center;
}

header .menu_bar,
header .menu_bar span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu_bar {
  --bar-size: 8;
  position: relative;
  width: calc(var(--bar-size) * 1.15vw);
  height: calc(var(--bar-size) * 1vw);
}

.menu_bar span {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(var(--bar-size) * 1vw / 7);
  background: #fff;
  border-radius: calc(var(--bar-size) * 1vw / 7);
}

.menu_bar span:nth-child(1) {
  top: 0;
}

.menu_bar span:nth-child(2) {
  top: calc(var(--bar-size) * 3vw / 7);
}

.menu_bar span:nth-child(3) {
  bottom: 0;
}

.active .menu_bar span:nth-child(1),
.active .menu_bar span:nth-child(3) {
  width: calc(var(--bar-size) * 0.8vw);
}

.active .menu_bar span:nth-of-type(1) {
  transform: translate(calc(var(--bar-size) * -0.078vw), calc(var(--bar-size) * 0.217vw)) rotate(-40deg);
}

.active .menu_bar span:nth-of-type(3) {
  transform: translate(calc(var(--bar-size) * -0.078vw), calc(var(--bar-size) * -0.217vw)) rotate(40deg);
}

.active header img {
  visibility: hidden;
}

header ul {
  display: none;
}

header .logo img {
  width: 16vw;
}

header .lang img {
  width: 10vw;
}

/* menu */
#menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #ED018C;
  z-index: 100;
}

.active #menu {
  display: block;
}

#menu ul {
  list-style: none;
  max-height: calc(100vh - 42vw);
  padding: 0;
  margin: 32vw 10vw 10vw;
  overflow: scroll;
}

#menu li {
  padding: 5vw 0 2vw;
  border-bottom: 2px solid #fff;
}

#menu li a {
  text-decoration: none;
  color : #fff
}

/* toc */
.toc {
  position: relative;
  padding: 5vw 0;
  background: hsl(var(--thema-color), var(--thema-satuation), 98%);
  text-align: center;
}

.toc:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -1vw;
  left: 10%;
  width: 80%;
  height: 2vw;
  border-radius: 2vw;
  background: hsl(var(--thema-color), var(--thema-satuation), 50%);
  z-index: 99;
}

.toc.about {
  --thema-color: 325;
  --thema-satuation: 100%
}

.toc.project {
  --thema-color: 192;
  --thema-satuation: 100%
}

.toc.robot {
  --thema-color: 0;
  --thema-satuation: 0%
}

.toc.corevalue {
  --thema-color: 325;
  --thema-satuation: 100%
}

.toc h1 {
  margin: 3vw 0;
  font-size: 8vw;
  color: hsl(var(--thema-color), var(--thema-satuation), 50%);
}

.toc h1.h_pic {
  margin: 0;
}

.toc h1.h_pic img{
  width: 60vw;
}

.toc h1.h_double {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.toc h1.h_double span {
  display: block;
  text-align: left;
}

.toc h1.h_double span:nth-child(2) {
  margin-top: 2vw;
  text-align: right;
}

.toc h2 {
  margin: 3vw 0 1vw;
  font-size: 6vw;
  font-weight: normal;
  color: hsl(var(--thema-color), var(--thema-satuation), 50%);
}

.toc p {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 5vw;
  text-align: center;
}

.toc p img {
  height: 8vw;
  margin-right: 1vw;
  vertical-align: -20%;
}

.toc strong {
  color: hsl(var(--thema-color), var(--thema-satuation), 50%)
}

.btn_wrap {
  display: flex;
  margin: 5vw 0 3vw;
  padding: 2vw;
}

.btn {
  display: flex;
  box-sizing: border-box;
  padding: 3vw;
  margin: 1vw;
  border: .8vw solid hsl(var(--thema-color), var(--thema-satuation), 50%);
  border-radius: 12vw;
  background: hsl(var(--thema-color), var(--thema-satuation), 93%);
  color: hsl(var(--thema-color), var(--thema-satuation), 50%);
}

.btn.pic img {
  width: 10vw;
  height: 10vw;
}

.btn.txt {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  font-weight: bold;
  text-decoration: none;
}

.btn.only {
  margin: 1vw 8vw;
  padding: 4.5vw;
}

footer {
  padding: 3vw;
  background: #000;
  font-size: 4vw;
  color: #fff;
  text-align: center;
}

@media (min-width: 900px){
  header {
    padding: 1.8vw;
  }

  header .bar {
    display: none;
  }

  header  ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  header li a {
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
    padding: 1vw;
  }

  header .logo img {
    width: 6.8vw;
  }
  
  header .lang img {
    width: 5vw;
  }

  .toc h1.h_pic {
    margin: 2vw 0 0;
  }

  .toc h1.h_pic img{
    width: 40vw;
  }

  .toc h1 {
    font-size: 6vw;
  }

  .toc h1.h_double {
    width: 65vw;
  }

  .toc h2 {
    margin: 1vw;
    font-size: 4vw;
  }

  .toc p {
    font-size: 2vw;
  }

  .toc p img {
    height: 5vw;
  }

  .toc:not(:last-child)::after {
    bottom: -.5vw;
    height: 1vw;
    border-radius: 1vw;
  }

  .btn_wrap {
    margin: 1vw 10vw 1vw;
    padding: 2vw;
  }

  .btn {
    border-width: .5vw;
    padding: 2vw;
  }
  
  .btn.pic {
    padding: 2vw;
  }

  .btn.pic img {
    width: 4vw;
    height: 4vw;
  }

  .btn.txt {
    font-size: 3vw;
  }

  .btn.only {
    padding: 3vw;
  }
}
